.nav-link{
    color: #212529;
}

.app-nav-link-color{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color:#fff !important;

}
.mynavbar{
   background:  rgb(156, 20 , 28);
}
.navbar-brand .abs{
    color:#212529;
    font-size: 32px;
    font-weight: 500;
}
.app-route{
    background: #fff;
    padding:0px;
    height:100%;
}

.pointer {cursor: pointer;}